@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 0.8rem;
}

.nav {
  padding-top: 50px;
  background-color: rgb(254, 227, 226);
  display: grid;
  grid-template-columns: repeat(2, 495px);
  justify-content: center;
}