.main {
  background-color: rgb(254, 227, 226);
  padding-top: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  justify-content: center;
}

.product-number {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  justify-content: center;
  text-align: left;
}